<%- include('partials/header') %>

<div class="page-404">
  <div>
    <h1>404</h1>
    <p>Looks like you've taken a wrong turn on the track!</p>
    <a href="/" class="btn btn-primary btn-lg">Back to Home 🏠</a>
  </div>
</div>

<%- include('partials/footer') %>
